<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button mat-icon-button>
      ESIR 2
    </button>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="[ '/home' ]" routerLinkActive="active"> Pokemon </a>
      <a mat-button [routerLink]="[ '/home/doodle' ]" routerLinkActive="active"> Doodle </a>
      <a mat-button [routerLink]="[ '/home/doodle/add' ]" routerLinkActive="active"> Ajouter User </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
